@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient{
  background: -webkit-linear-gradient(#b1b0b5,#8f8f90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
